<div id="status">0 | 0</div>
<div *ngIf="userli">{{userli.login}}</div>

<div class="container "id="yoff" >
    <div class="jumbotron " >

        <div  >
            <form (ngSubmit)="search(SearchTerm)" >
                <div>
                        <input type="submit" style="visibility: hidden" />
                        
                    <input id="search" [(ngModel)]="SearchTerm"  type="text" name="search" placeholder="Search" /><!--[(ngModel)]="SearchTerm"-->
                <p id="para"></p>
                
            </div>
            
                        </form>
        </div>
        
    </div>

    <div class="container" >
        <div class=" col-md-12 ">
                <div  id="write" *ngIf="userli"  >
                        <div class="col-md-5 row  panel panel-primary " >
                            <div class="col-md-4">
                                <img class="img-responsive img-rounded" style="ime-mode: auto" (click)="Userid(userli.login) "
                                    [src]="userli.avatar_url">
                                <!--(click)="Userid(userli.id)-->
                            </div>
                            <div class="col-md-7 " (click)="UserPage(userli.login) ">
                                <h4>{{userli.login}}</h4>
                                <p id="para">NodeId: {{userli.id}}</p>
                                <p id="para">NodeId: {{userli.node_id}}</p>
        
                            </div>
        
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
            <div  id="write" *ngFor=" let userli of user | employeeFilterPipe :SearchTerm "  >
                <div class="col-md-5 row  panel panel-primary " >
                    <div class="col-md-4">
                        <img class="img-responsive img-rounded" style="ime-mode: auto" (click)="Userid(userli.login) "
                            [src]="userli.avatar_url">
                        <!--(click)="Userid(userli.id)-->
                    </div>
                    <div class="col-md-7 " (click)="UserPage(userli.login) ">
                        <h4>{{userli.login}}</h4>
                        <p id="para">NodeId: {{userli.id}}</p>
                        <p id="para">NodeId: {{userli.node_id}}</p>

                    </div>

                </div>
                <div class="col-md-1">
                </div>
            </div>

        </div>
    </div>
</div>