
<div class="container ">
    <div class="jumbotron ">
           
        <div>
            <form >
                <input id="search" type="search" name="search" placeholder="Search"  />
                <p id="para"></p>
            </form>
        <p>Search </p>
        </div>
        <!-- <input type="button" (click)="oninit()" value="hit me"> -->
    </div>
    
    <div  class="container">
      <div   class=" col-md-12 "   > 
                   <div *ngFor="let u of user  "   >
        <div class="col-md-5 row  panel panel-primary "  >
                <div class="col-md-4">
                    <img class="img-responsive img-rounded" style="ime-mode: auto" (click)="Userid(u.login) "  [src]="u.avatar_url"><!--(click)="Userid(u.id)-->
                </div>
                <div  class="col-md-7 " (click)="UserPage(u.login) " >
                        <h4 >{{u.login}}</h4>
                        <p id="para">NodeId: {{u.id}}</p>
                        <p id="para">NodeId: {{u.node_id}}</p>

                </div>
                
        </div>
        <div class="col-md-1" >
        </div>
    </div>
        
    </div>
    </div>
</div>
<div >
   
</div>
